// Color system

$blue: #0000cc;
$green: #00cc00;
$dark: #2e2e2e;
$white: #fff;
$black: #000;

// Typography

$font-family-sans-serif: 'Neue Haas', "Helvetica Neue", Arial, sans-serif;

// Navbar

$navbar-nav-link-padding-x: 20px;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $green;
$navbar-dark-active-color: $green;

// Carousel

$carousel-control-color: $black;
$carousel-control-width: 40px;
