h1, .h1 {
  position: relative;
  padding-top: 25px;
  margin-top: 42px;

  &:before {
    content: '';
    background: #000;
    border-radius: 4px;
    height: 8px;
    left: 0;
    position: absolute;
    top: 0;
    width: 52px;
  }

  @include media-breakpoint-up(md) {
    margin-top: 84px;
  }

}

article {
  h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    margin-top: 60px;
  }
}
