<header class="site-header">
  <div class="site-header-logos container d-none d-lg-block">
    <div class="row align-items-center">
      <div class="col-sm" style="font-family: 'Audiowide', cursive">Chapter 3: GANs</div>
      <div class="col-sm text-sm-right"><a href="http://web.mit.edu/"><img src="/assets/images/GenAI.png" width="225" height="57" alt="GenAI"></a></div>
    </div>
  </div>
<!--  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: rgb(51,51,51) !important;"><a class="navbar-brand d-lg-none" href="/"><img src="/assets/images/logo-quest-white.svg" width="90" height="30" alt="MIT Quest for Intelligence"></a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
      <div class="container">
      </div>
    </div>
  </nav>
</header>
